* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #C8E6C9;
    width: 100%;
    height: 100%;
}

header > h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.center-img {  
    display: block;
    margin: 0 auto;
}   

nav {
    background-color: #388E3C;
    position: relative;
    top: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
    width: 8em;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif; 
}

nav a:hover {
    background-color: #FFC107;
    color: #212121;
}

.fixed {
    position: fixed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

.home {
    width: 80%;
    height: 1000px;
    margin: 60px auto;
    background-color: yellow;
}

.map-review-container {
    margin: 80px;
}

.map {
    width: 400px;
    height: 600px;
    background-color: red;
    margin-right: 100px;
}

.review {
    width: 400px;
    height: 600px;
    background-color: blue;
    margin-left: 100px; 
}