* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #C8E6C9;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: "Roboto", sans-serif;   
}

h1 {
    font-size: 42px;
}

blockquote {
    overflow-wrap: break-word;
    max-width: 400px;
    position: relative;
    font-size: 15px;
    color: #777777;
}
h3.comment-header {
    font-size: 22px !important;
    color: #333333;
}
h3.comment-header:after {
    content: '';
    border: 1px solid #333333;
    display: block;
    width: 50px;
    margin-top: 10px;
}
blockquote span {
    position: absolute;
    right: 0;
    top: -25px;
    bottom: 0;
    padding-left: 15px;
}

header > h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#login-button {
    margin: 8px 1% 0 0;
}

@media(max-width: 767px) {
    #login-button {
        margin-top: 0;
        margin-left: 15px;
    }
}

#logout-button {
    margin: 8px 1% 0 0;
}

.banner {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../images/banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: -1px !important;
}

.banner__overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.banner__content {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    position: relative;
    z-index: 1000;
}
.navbar {
    background:	#388E3C;
    padding: 15px !important;
}
.navbar-front {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 9999;
    border: 0;
    margin-top: 20px;
}
@media(max-width: 767px) {
    .navbar-collapse {
        margin-top: 25px;
    }
}
.navbar-collapse {
    border: 0;
}
@media(min-width: 768px) {
    .main-nav {
        margin-right: 50px;
    }
}
.navbar li a { 
    color: #ffffff !important;
}
.main-nav li a:hover {
    color: #cacaca !important;
}
@media(max-width: 767px) {
    .navbar li a {
        text-align: left;
    }
}
.navbar-brand {
    padding: 0;
    margin-top: -9px;
}
.navbar-brand img{
    max-width: 100px;
}
.navbar li a:hover {
}
.navbar li.active a {
    background-color: transparent !important;
}

/*.nav {
    background-color: transparent;
    position: relative;
    top: 0;
    height: inherit;
    z-index: 100;
}*/

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
    height: inherit;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.nav a:hover {
    text-decoration: none;
    background-color: #FFC107;
    color: #212121;
}

.secondary-nav {
    display: inline-block;
}
.ng-scope {
    margin: 0;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.padding-img {
    padding: 1%;
}

.fixed {
    position: fixed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

.map-review-container {
    display: block;
    margin: 3% 3% 3% 3%;
    height: 600px;
    width: inherit;
}

.ng-scope {
    padding: 0;
}

.review-parent {
    display: inline-block;
    min-width: 40%;
    height: inherit;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(122,122,122,1);
    box-shadow: 0px 0px 20px 3px rgba(122,122,122,1);
}
@media(max-width: 1100px) {
    .review-parent {
        min-width: 100%;
        height: auto;
    }
}

.review {
    width: 105%;
    height: inherit;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.review h3 {
    font-size: 18px;
    
}

#google-map, .map {
    width: 58%;
    height: 600px;
    float: right;
}
@media(max-width: 1100px) {
    #google-map, .map {
        width: 100%;
        max-height: 400px;
    }
}

.pub {
    width: inherit;
    border-bottom: 1px solid #cccccc;
    display: block;
    background: white;
}

.pub > div {
    min-height: 40px;
    padding-left: 15px;
    padding-right: 13%;
}

.resize-none {
    resize: none;
}

.pub-rating:after, .map-rating:before {
    content: '\f005';
    font-family: FontAwesome;
    padding-left: 5px;
    color: #ff9900;
}

.pub-title {
    font-size: 16px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}
.pub-title:hover {
    background-color: #3fc9d1;
    transition: 500ms ease;
}
.pub-title:focus,
.pub-title:active {
    background: #3fc9d1;
}
.active-pub {
    background-color: yellow;
}