* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #C8E6C9;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: "Roboto", sans-serif;   
}

h1 {
    font-size: 42px;
}

blockquote {
    overflow-wrap: break-word;
    max-width: 330px;
}

header > h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 50px;
}

#login-button {
    margin: 8px 1% 0 0;
}

#logout-button {
    margin: 8px 1% 0 0;
}

.banner {
    display: table;
    width: 100%;
    position: relative;
    background: url('../images/banner.jpeg');
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner__overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.banner__content {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    position: relative;
    z-index: 1000;
}

.navbar {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 9999;
    border: 0;
    margin-top: 20px;
}
.navbar-collapse {
    border: 0;
}
@media(min-width: 768px) {
    .main-nav {
        margin-right: 50px;
    }
}
.navbar li a { 
    color: #ffffff !important;
}
@media(max-width: 767px) {
    .navbar li a {
        text-align: left;
    }
}
.navbar-brand {
    padding: 0;
}
.navbar-brand img{
    max-width: 100px;
}
.navbar li a:hover {
    
}
.navbar li.active a {
    background-color: transparent !important;
}

.nav {
    background-color: transparent;
    position: relative;
    top: 0;
    height: inherit;
    z-index: 100;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
    height: inherit;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.nav a:hover {
    text-decoration: none;
    background-color: #FFC107;
    color: #212121;
}

.secondary-nav {
    display: inline-block;
}
.ng-scope {
    margin: 0;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.padding-img {
    padding: 1%;
}

.fixed {
    position: fixed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

.map-review-container {
    display: block;
    margin: 3% 3% 3% 3%;
    height: 600px;
    width: inherit;
}

.ng-scope {
    padding: 0;
}

.review-parent {
    display: inline-block;
    min-width: 40%;
    height: inherit;
    overflow: hidden;
}

.review {
    width: 105%;
    height: inherit;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 12px;
}

#google-map, .map {
    width: 58%;
    height: 600px;
    float: right;
}

.pub {
    min-height: 40px;
    width: inherit;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
}

.pub > div {
    min-height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 13%;
}
